body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;}

div.row {
    padding: 20px 0px;
    margin: auto;
    max-width: 60%;}

img#github {
    max-height: 30px;}