body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 20px;
}

div.row {
    padding: 10px 0px;
    margin: 10px 0px;
}

img#github {
    max-height: 30px;
}